
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="dashboard.html" ><p> <i class="fa fa-angle-right" aria-hidden="true"></i> Dashbord</p></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link inactive" href="#"><p> <i class="fa fa-angle-right" aria-hidden="true"></i> Your Orders</p></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link inactive" href="wishlist.html">
                    <p> 
                        <i class="fa fa-angle-right" aria-hidden="true"></i> 
                        Wishlist
                        <span class="badge bg-danger">3</span>
                    </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link inactive" href="#"><p> <i class="fa fa-angle-right" aria-hidden="true"></i> Services</p></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link inactive" href="#"><p> <i class="fa fa-angle-right" aria-hidden="true"></i> Checkout</p></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link inactive" href="#"><p> <i class="fa fa-angle-right" aria-hidden="true"></i> About</p></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link inactive" href="#"><p> <i class="fa fa-angle-right" aria-hidden="true"></i> Contact</p></a>
                </li>
            </ul>
