    <!--Top Navigation-->
    <div class="row" >
        <!--Logo-->
        <div class="col-sm-2 mt-2 center d-none d-sm-block">
          <img [src]="appLogo" alt="Snack Point" class="logo" >
        </div>
        <!--Logo-->
        <div class="col-sm-7 col-10 mt-5">
          <!--Navbar small screen-->
          <button type="button" class="btn btn-md btn-outline-danger dropdown-toggle d-inline d-sm-none" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-grid-3x3-gap-fill"></i>
          </button>
          <ul class="dropdown-menu form-control">
            <li><a class="dropdown-item" [routerLink]="['/dashboard']"> Dashboard</a></li>
            <li><a class="dropdown-item inactive" [routerLink]="['/dashboard']"> Your Orders</a></li>
            <li><a class="dropdown-item inactive" [routerLink]="['/my_wishlist']"> Wishlist</a></li>
            <li><a class="dropdown-item inactive" [routerLink]="['/dashboard']"> Services</a></li>
            <li><a class="dropdown-item inactive" [routerLink]="['/dashboard']"> Checkout</a></li>
            <li><a class="dropdown-item inactive" [routerLink]="['/dashboard']"> About</a></li>
            <li><a class="dropdown-item inactive" [routerLink]="['/dashboard']"> Contact</a></li>
          </ul>
          <!--Navbar small screen-->
  
          <button class="btn btn-outline-danger btn-md  d-none d-sm-inline"><i class="bi bi-binoculars-fill"></i> Search</button>
          <button class="btn btn-outline-danger btn-md  d-none d-sm-inline mx-2"><i class="bi bi-tag-fill" aria-hidden="true"></i> Offers</button>
          <a [routerLink]="['/my_cart']" type="button" class="btn btn-outline-danger btn-md position-relative mx-2">
            <i class="bi bi-basket3-fill"></i> Cart
            <span id="countOncart" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">5</span>
          </a>
          <br>
          <!--Product Category name-->
          <div class="btn-group mt-30 col-12">
            <h2 id="product_category_name" class="d-none d-sm-block">Bread </h2>
          </div>
          <!--Product Category name-->
        </div>
        <div class="col-sm-3 col-2 mt-5">
          <div class="btn-group">
            <!--Visible on medium screen-->
            <button type="button" class="btn btn-md btn-outline-danger dropdown-toggle d-none d-sm-inline" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle"></i> 
              <span id="uname" class="d-none d-sm-inline"> Dexter Vin Catolos</span>
            </button>
            <!--Visible on medium screen-->
            <!--Visible on small screen-->
            <button type="button" class="btn btn-md btn-outline-danger dropdown-toggle d-inline d-sm-none" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle"></i>
            </button>
            <!--Visible on small screen-->
            <ul class="dropdown-menu form-control">
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="logout.html">Logout</a></li>
            </ul>
          </div>
        </div>
        <div  class=" m-2 col-12  d-block d-sm-none">
          <!--Search bar on small screen--> 
          <input class="form-control" type="text" placeholder="Search">
          <!--Search bar on small screen-->
          <!--Product Category on small screen-->
          <div>
            <button type="button" class="btn form-control btn-md btn-outline-danger dropdown-toggle d-inline d-sm-none mt-2"  data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-cutlery" aria-hidden="true"></i> <span id="product_category_name">Choose Category</span>
            </button>
            <ul id="categoryList1" class="dropdown-menu form-control">
            </ul>
          </div>
          
          <!--Product Category on small screen-->
        </div>
      </div>
      <!--Top Navigation--> 